.mensaje{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.usuarios{
    background: var(--ion-color-tertiary);
    color: #fff;
}

.mi-usuarios{
    background: var(--ion-color-secondary);
    color: #fff;
}

.time{
    color: #dfdfdf;
    float: right;
    font-size: small;
}

.msg-input{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
  }

.msg-btn{
  font-size: 30px;
  color: white;
  background-color: transparent;
  margin: 5px 0px 0px 5px;
}

*{
  font-family: 'Proxima Nova' !important;
}

.send {
  background: #002a68;
  text-align-last: center;
  border-radius: 90%;
  height: 50px;
  max-width: 55px !important;
}