.mensaje{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.usuarios{
    background: var(--ion-color-tertiary);
    color: #fff;
}

.mi-usuarios{
    background: var(--ion-color-secondary);
    color: #fff;
}

.time{
    color: #dfdfdf;
    float: right;
    font-size: small;
}

.msg-input{
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
  }

.msg-btn{
  color: black;
  --padding-start: 8.5em;
  --padding-end: 0.5em;
  text-align: center;
  font-size: 30px;
}

*{
    font-family: 'Proxima Nova' !important;
  }