<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button (click)="volver()"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo">
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf="courseID  === CourseLessonID">

    <div *ngFor="let cur of cursos; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>

     
        <ion-list *ngFor="let lections of cur.lessons;  let j = index;" lines="none" class="itemCssF list-md">
          <div *ngIf="j === index">
          <ion-card>
            <ion-card-title align="center" style="color:{{color}}; text-transform: uppercase;"> {{lections.name}}</ion-card-title>
            <ion-card-content style="text-align: justify; color: black;">{{lections.description}}</ion-card-content>
            <div class="card card-3">
              <h2 style="text-align: center; color: black;">¡Anímate!</h2>
            </div>
            <ion-grid>
              <ion-row >
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col *ngFor="let recursos of lections.resources; let k = index" >
                  
                  <div>
                  <div *ngIf="recursos.order ===  1">
                    <div *ngIf="recursos.audio">
                      <ion-button fill="outline" class="button-start"
                        (click)="audioPlayer(lections.name,recursos.audio, recursos.order, lections.resources?.length)">
                        <ion-icon name="play"></ion-icon>Iniciar Leccion
                      </ion-button>
                    </div>
                  </div>
                    <!--<div *ngIf="recursos.video">
                      <ion-button fill="outline" class="button-lesson"
                        (click)="startVideo(lections.name,recursos.video, recursos.order, lections.resources?.length)">
                        <ion-icon name="videocam" style="color: #190643;"></ion-icon>
                      </ion-button>
                    </div>-->
                  </div>
  
                  <div *ngIf="recursos.order <= orderStorage  && recursos.order !== 1">
                 <!--   <div *ngIF="recursos.order <= orderStorage" >-->
                    <!--<div *ngIf="recursos.audio">
                      <ion-button fill="outline"
                        (click)="audioPlayer(lections.name,recursos.audio, recursos.order, lections.resources?.length)">
                        <ion-icon name="musical-notes-outline"></ion-icon>
                      </ion-button>
                    </div>-->
                    <div *ngIf="recursos.document">
                      <ion-button fill="outline"
                        (click)="previewDocuments(lections.name,recursos.document, recursos.order, lections.resources?.length)">
                        <ion-icon name="book-outline"></ion-icon>
                      </ion-button>
                    </div>
                    <!--<div *ngIf="recursos.video">
                      <ion-button fill="outline"
                        (click)="startVideo(lections.name,recursos.video, recursos.order, lections.resources?.length)">
                        <ion-icon name="videocam"></ion-icon>
                      </ion-button>
                    </div>-->
                  </div>
                  <div>
                  <div *ngIf="recursos.order > orderStorage ||  recursos.order <= index">
                    <div *ngIf="recursos.video">
                      <ion-button fill="outline" class="button-star"
                      (click)="startVideo(lections.name,recursos.video, recursos.order, lections.resources?.length)">
                      <ion-icon name="play"></ion-icon>Iniciar Leccion
                    </ion-button>
                    </div>
                  </div>
                </div>
                  <!--<div *ngIf="recursos.order > orderStorage && recursos.order !== 1">
                    <div *ngIf="recursos.audio">
                      <ion-button fill="outline" 
                        (click)="audioPlayer(lections.name,recursos.audio, recursos.order, lections.resources?.length)">
                        <ion-icon name="musical-notes-outline"></ion-icon>
                      </ion-button>
                    </div>
                    <div *ngIf="recursos.document" >
                      <ion-button fill="outline"
                        (click)="previewDocuments(lections.name,recursos.document, recursos.order, lections.resources?.length)">
                        <ion-icon name="book-outline"></ion-icon>
                      </ion-button>
                    </div>-->
                    <!--<div *ngIf="recursos.video">
                      <ion-button fill="outline" 
                        (click)="startVideo(lections.name,recursos.video, recursos.order, lections.resources?.length)">
                        <ion-icon name="videocam"></ion-icon>
                      </ion-button>
                    </div>
                  </div>-->
  
                </ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <!--<div *ngIf="exam !== 0">
                  <div *ngIf="lections.exam">
                    <ion-button fill="outline" (click)="examen(lections.exam)">
                      <ion-icon name="ribbon"></ion-icon>
                    </ion-button>
                  </div>
                </div>-->
  
              </ion-row>
  
  
            </ion-grid>
          </ion-card>
        </div>   
        </ion-list>
    </div>
  </div>

</ion-content>