*{
    font-family: 'Proxima Nova' !important;
  }
.contenido{
    text-align: justify;
}
.footer-dis-bot1{
    display:list-item;
    --background:#35538f;
}
.footer-dis-bot2{
    --background:#252632;
    display:list-item;
}

.header-title {
    text-align: center;
    color: #35538f;;
}

iframe {
    position: relative;
    height: 100%;
    width: 100%;
}