<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo">
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card-content>
    <ion-title class="title-css">Qué es diagnostico?</ion-title>
  </ion-card-content>

  <ion-card-content>
    <iframe src="../../../../assets/diag.mp4" frameborder="0" width="100%" height="100%" webkitallowfullscreen
      mozallowfullscreen allowfullscreen></iframe>
  </ion-card-content>

  <ion-card-content class="contenido">
    Como se mencionaba en el video el diagnóstico esta dividido de acuerdo a ciertos aspectos:
    <br>
    <ion-list >
      <div *ngFor="let curso of cursos; ; index as i;">
      <ion-item >
        <ion-avatar slot="start">
          <img src="../../../../assets/cheque.png">
        </ion-avatar>
        <ion-label>
          <h3>{{curso.name.split(':')[0]}}</h3>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <ion-button size="small" class="footer-dis-bot1" (click)="alertAvisoGif()">
        <ion-icon name="information-outline"></ion-icon>
        Instrucciones
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" class="footer-dis-bot2" (click)="diagnosticoRedirect()">
        <ion-icon name="caret-forward-outline"></ion-icon>
        Continuar
     </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<!--
<ion-content fullscreen>
  <ion-card>
    <iframe src="../../../../assets/diag.mp4" frameborder="0" webkitallowfullscreen
      mozallowfullscreen allowfullscreen></iframe>

    <ion-card-header>
      <ion-card-title class="header-title">Qué es diagnostico?</ion-card-title>
      <ion-card-subtitle>Como se mencionaba en el video el diagnóstico esta dividido de acuerdo a ciertos aspectos:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list >
        <div *ngFor="letcurso of cursos; ; index as i;">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/cheque.png">
          </ion-avatar>
          <ion-label>
            <h3>{{curso.name.split(':')[0]}}</h3>
          </ion-label>
        </ion-item>
      </div>
      </ion-list>
    </ion-card-content>

    <ion-footer>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button size="small" class="footer-dis-bot1" (click)="alertAvisoGif()">
              <ion-icon name="information-outline"></ion-icon>
              Instrucciones
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="small" class="footer-dis-bot2" (click)="diagnosticoRedirect()">
              <ion-icon name="caret-forward-outline"></ion-icon>
              Continuar
           </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-footer>

  </ion-card>
</ion-content>
-->







