*{
    font-family: 'Proxima Nova' !important;
  }
.range {
    --knob-size: 40px;
    --ion-color-base: #002a68 !important;
}
.circulo {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background: #002a68;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    color: white;
}

.footer-dis-bot1 {
    display:list-item;
    --background:#b9b9b9;
}
.footer-dis-bot2{
    --background: #002a68;
    display: list-item;
}
.question-st {
    padding: 3px 10px;
    border: 1px solid #b9b9b9;
    border-width: 1px !important;
    border-radius: 7px;
    box-shadow: none;
}

.questions {
    margin: 10px;
    background: white;
    border-radius: 10px;
    height: 100%;
}

.icono-lateral{
    color:#002a68;
    font-size:20px;
}
.title-css {
    color: #ffffff;
    margin: 15px 0px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: normal;
    background-color: #002a68;
    padding: 10px;
}

.subtitle-css{
    color: rgb(8, 8, 8);
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    text-align: justify;
    white-space: normal;
    background-color:whitesmoke
}

ion-slides {
    height: 80%;
    background-color:whitesmoke
}

.button-css{
    -webkit-box-shadow : 0  10px  30px  0 rgba(95,186,233,0.4);
    box-shadow : 0  10px  30px  0 rgba(95,186,233,0.4);
    font-size: 9px;
    letter-spacing: 1px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 5%;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    width: 85%;
    height: 35px;
    color: #ffffff;
    margin-bottom: 30px;
    --background: #80b9f6 !important;
}
.alert-head.sc-ion-alert-ios{
    --background: #80b9f6 !important;
}
.my-custom-class {
    --background: whitesmoke;
}

.my-custom-class2 {
    --background: whitesmoke;
    --backdrop-opacity: 0.33;
    text-align: center;
}

.title {
    text-align: center;
    padding: 10px 0px;
    background-color: #f4f4f4;
}

.bagde-title {
    background-color: #002a68;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
}

.icon-danger {
    background: #f44336;
    --ion-color-base: white !important;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.icon-success {
    background: #4caf50;
    --ion-color-base: white !important;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}

.label-content {
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}