<ion-header #header>
  <ion-toolbar #toolbar class="ion-toolbar-ccs">
    <div align="center">
      <ion-toolbar>
        <img src="/assets/FINAL-LOGO-MAGIN-PNG.png" width="170" height="100">
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [appHideHeader]="header"  [scrollEvents]="true" slot="start" id="ion-content-opcional">
  <br>
  <div class="divBack">
    <div *ngIf="usertk !== null">
      <ion-grid class="profile-intro">
        <ion-row>
          <ion-col col-4>
            <img class="profile-photo" src="../../../assets/avatar/{{usertk.avatar}}.png" (click)="selccionImg()"> 
         
          </ion-col>
          <ion-col col-8>
            <div class="profile-info">
              <div class="info-square">
                <p class="user-name"><strong>
                    <ion-label (click)="abrirDialogo(usertk)">{{usertk.name}} {{usertk.lastname}}</ion-label>
                  </strong></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <div class="more-details"  *ngIf="usertk.description === null || usertk.description === ''">
        <p class="user-bio" (click)="abrirDialogo(usertk)">Puedes agregar tu descripcion.</p>
      </div>

      <div class="more-details"  *ngIf="usertk.description !== null || usertk.description !== ''">
        <p class="user-bio" (click)="abrirDialogo(usertk)">{{usertk.description}}</p>
      </div>

      <mat-tab-group mat-stretch-tabs class="expand-css mat-elevation-z4" (selectedTabChange)="eventchangeTab($event)">

        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon name="grid" class="larger"></ion-icon>
          </ng-template>
          <br>
          <mat-tab-group mat-stretch-tabs class="expand-css2 mat-elevation-z4">
            <mat-tab>
              <ng-template mat-tab-label>
                <ion-card-title class="title-css2" style="text-align: center;">Mi Información</ion-card-title>
              </ng-template>
              <br>
              <div *ngIf="usertk !== null">
                <ion-item class="ion-item-css">
                  <ion-icon name="person"></ion-icon>
                  <ion-label class="Subtitle-css">{{usertk.name}} {{usertk.lastname}}</ion-label>
                </ion-item>
                <ion-item class="ion-item-css">
                  <ion-icon name="calendar"></ion-icon>
                  <ion-label class="Subtitle-css">{{usertk.birthday}}</ion-label>
                </ion-item>
                <ion-item class="ion-item-css">
                  <ion-icon name="layers"></ion-icon>
                <!--  <ion-label class="Subtitle-css">Categoria: <br> {{usertk.profile.name}}</ion-label> -->
                </ion-item>
                <ion-item class="ion-item-css">
                  <ion-icon name="body"></ion-icon>
                <!--  <ion-label class="Subtitle-css">Especialidad: <br> {{usertk.profile.name}}</ion-label>-->
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.description === null || usertk.description === ''">
                  <ion-icon name="chatbubble-ellipses" class="iconDesc"></ion-icon> &nbsp;
                  <ion-textarea [disabled]="true" rows="5" class="Subtitle-cs-desc">Puedes agregar tu descripcion.</ion-textarea>
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.description !== null || usertk.description !== ''">
                  <ion-icon name="chatbubble-ellipses" class="iconDesc"></ion-icon> &nbsp;
                  <ion-textarea [disabled]="true" rows="5" class="Subtitle-cs-desc">{{usertk.description}}</ion-textarea>
                </ion-item>
                

                <ion-item class="ion-item-css"  *ngIf="usertk.institution === null || usertk.institution === ''">
                  <ion-icon name="school"  class="iconDesc"></ion-icon> &nbsp;
                  <ion-label class="Subtitle-css">Agrega Donde estudiaste</ion-label>
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.institution !== null">
                  <ion-icon name="school" class="iconDesc"></ion-icon> &nbsp;
                  <ion-label class="Subtitle-css">Donde Estudie: <br> {{usertk.institution}}</ion-label>
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.status === null || usertk.status === ''">
                  <ion-icon name="heart-circle"></ion-icon> &nbsp;
                  <ion-label class="Subtitle-css">Agrega tu Sitacion Sentimental</ion-label>
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.status !== null">
                  <ion-icon name="heart-circle"></ion-icon> &nbsp;
                  <ion-label class="Subtitle-css">Situacion status: <br> {{usertk.status}}</ion-label>
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.city === null || usertk.city === ''">
                  <ion-icon name="location"></ion-icon> &nbsp;
                  <ion-label class="Subtitle-css">Agrega Donde vives</ion-label>
                </ion-item>
                <ion-item class="ion-item-css"  *ngIf="usertk.city !== null">
                  <ion-icon name="location"></ion-icon> &nbsp;
                  <ion-label class="Subtitle-css">Donde Vives: <br> {{usertk.city}}</ion-label>
                </ion-item>

                <ion-button  class="button-css-options2" fill="clear" expand="block" (click)="abrirDialogo(usertk)">
                  <ion-icon name="pencil-outline"></ion-icon>&nbsp;
                  EDITAR INFORMACIÓN
                </ion-button>
              </div>
              <br>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <ion-card-title class="title-css2" style="text-align: center;">Mi Actividad</ion-card-title>
              </ng-template>
              <br>
              <ion-list class="itemCssFActividad list-mdActividad" *ngFor="let contenido of miactividad">
                <div class="boder">
                  <ion-item class="ion-item-css-">
                    <ion-avatar slot="start" class="imagestyle">
                      <img src="{{usertk.photo}}">
                    </ion-avatar>
                    <ion-label class="titlename">{{usertk.name}} {{usertk.lastname}}</ion-label>
                  </ion-item>
                  <br>
                  <div *ngIf="contenido.medias.length ===  0" class="labelContent">
                    <label>{{contenido.post}}</label>
                    <div class="time" class="ion-text-right"><br>
                      {{contenido.created_at | date:'short'}}
                    </div>
                  </div>
                  <br>
                  <div *ngIf="contenido.medias.length !==  0" class="labelContent">
                    <label>{{contenido.post}}</label>
                    <ion-slides [options]="sliderImgOption">
                      <ion-slide *ngFor="let imag of contenido.medias">
                        <img class="image-cont" src="http://venki.ml/photos/{{imag.media}}">
                      </ion-slide>
                    </ion-slides>
                    <div class="time" class="ion-text-right"><br>
                      {{contenido.fecha | date:'short'}}
                    </div>
                  </div>
                </div>
              </ion-list>
              <ion-infinite-scroll threshold="100px"  position="bottom" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles"  loadingText="Cargando post...">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon name="bookmark" class="larger"></ion-icon>
          </ng-template>
          <br>
          
          <div>
            <div *ngIf="usertk.email !== null">

              <ion-card-title class="title-css" style="font-size: 20px; text-align: center;">MI DESARROLLO</ion-card-title>

              <mat-accordion>
                <mat-expansion-panel class="expacionCss">
                  <mat-expansion-panel-header class="expacionCss">
                    <mat-panel-title>
                      <label class="Subtitle-css-title">TROFEOS E INSIGNIAS</label>
                    </mat-panel-title>
                    <mat-panel-description>
                      <label class="Subtitle-css-label">Trofeos e Insignias de Cursos</label>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ion-row style="border-bottom: groove;">
                    <ion-col col-4>
                      <ion-label class="title-cssCursos">Trofeos</ion-label>
                    </ion-col>
                    <ion-col col-4>
                      <ion-label class="title-cssCursos">Insignias</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row style="border-bottom: groove;" *ngFor="let tyi of trofeosInsig">
                    <ion-col col-4>
                      <ion-label class="title-cssCursos">{{tyi.trofeo}}</ion-label>
                    </ion-col>
                    <ion-col col-4>
                      <img style="margin-left: 24px;" src="{{tyi.insignia}}">
                    </ion-col>
                  </ion-row>

                </mat-expansion-panel>
              </mat-accordion>

              <ion-card-title class="title-css" style="font-size: 20px; text-align: center;">MIS CURSOS</ion-card-title>

              <mat-tab-group mat-stretch-tabs class="expand-css2 mat-elevation-z4">
                <mat-tab  >
                  <ng-template mat-tab-label>
                    <ion-card-title class="title-css2" style="text-align: center;">CURSANDO</ion-card-title>
                  </ng-template>
                  <br>
                  <ion-list class="itemCssF list-md">
                    <div *ngFor="let curso of cursos">
                      <ion-item class="ion-item-css">
                        <ion-avatar slot="start">
                          <img src="http://venki.ml/{{curso.photo}}" (click)="verCurso(curso)">
                        </ion-avatar>
                        <ion-label class="Subtitle-css" (click)="verCurso(curso)">{{curso.name}}</ion-label>
                      </ion-item>
                    </div>
                  </ion-list>
                </mat-tab>
                <mat-tab >
                  <ng-template mat-tab-label>
                    <ion-card-title class="title-css2" style="text-align: center;">COMPLETADO</ion-card-title>
                  </ng-template>
                  <br>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
          <br>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon name="settings" class="larger"></ion-icon>
          </ng-template>
          <br>
          <ion-grid>
            <ion-row>
                <ion-col size="12" >
                  <ion-button  [disabled]="usertk.premium  === 0" class="button-css-options" fill="clear" expand="block" (click)="miCalendario()">
                    <ion-icon name="calendar-outline"></ion-icon>&nbsp;
                    Calendario
                  </ion-button>
                </ion-col>
                <ion-col size="12">
                  <!--[disabled]="usertk.premium  === 0"-->
                  <ion-button  class="button-css-options" fill="clear" expand="block" (click)="miTimeLine()">
                    <ion-icon name="calendar-outline"></ion-icon>&nbsp;
                    TimeLine
                  </ion-button>
                </ion-col>

                <ion-col size="12" >
                  <!--[disabled]="usertk.premium  === 0"-->
                  <ion-button [disabled]="usertk.surveyed  !== 1" class="button-css-options" fill="clear" expand="block" (click)="misEstadisticas()">
                    <ion-icon name="stats-chart-outline"></ion-icon>&nbsp;
                    Metricas
                  </ion-button>
                </ion-col>
                <ion-col size="12">
                  <ion-button  class="button-css-options" fill="clear" expand="block" (click)="MisObjetivos(usertk.id)">
                    <ion-icon name="stats-chart-outline"></ion-icon>&nbsp;
                    Mis Objetivos
                  </ion-button>
                </ion-col>

                <!--[disabled]="usertk.surveyed  === 1"-->
                <ion-col size="12" >
                  <ion-button [disabled]="usertk.surveyed  === 1" class="button-css-options" fill="clear" expand="block"
                    (click)="diagnosticoRedirect(usertk.profile.id,  usertk.id)">
                    <ion-icon name="book"></ion-icon>&nbsp;
                    Diagnostico
                  </ion-button>
                </ion-col>

                <!--[disabled]="usertk.surveyed  !== 1"-->
                <ion-col size="12">
                  <ion-button [disabled]="usertk.surveyed  !== 1" class="button-css-options" fill="clear" expand="block"
                    (click)="recomedacionesRedirect(usertk.id)">
                    <ion-icon name="book"></ion-icon>&nbsp;
                    Recomendaciones
                  </ion-button>
                </ion-col>
              

              <ion-col size="12">
                <ion-button class="button-css-options22" fill="clear" expand="block" (click)="opcionesRedirect()">
                  <ion-icon name="settings-outline">Más Opciones</ion-icon>
                </ion-button>
              </ion-col>
              <!--<ion-col size="6">
                <ion-button class="cart-btn" fill="clear" (click)="openCart()" data-count="">
                  <ion-badge id="notifications-badge" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
                  <ion-icon slot="icon-only" name="cart"></ion-icon>
                  </ion-button>
              </ion-col>-->
            </ion-row>
          </ion-grid>
          <br>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div *ngIf="usertk !== null">
    <ion-card *ngIf="usertk.email == 'usuarioN@hotmail.com'">
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://happytravel.viajes/wp-content/uploads/2020/04/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"
              (click)="abrirDialogo(usertk)">
          </ion-avatar>
          <ion-label>{{usertk.name}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <br>



</ion-content>