<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo">
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="divBack">
    <ion-button class="button-css-options" fill="clear" expand="block" (click)="logout()">
      <ion-icon name="exit"></ion-icon>&nbsp;
      Cerrar Sesión
    </ion-button>
    <ion-button class="button-css-options" fill="clear" expand="block" (click)="editNew()">
      <ion-icon name="stats-chart-outline"></ion-icon>&nbsp;
      Volver
    </ion-button>
  </div>

</ion-content>
