<ion-content padding>
  <ion-grid style="text-align: justify;">

    <p>Bienvenido a MAGIN. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web.
    </p>
    <p><strong>Autorización de padres</strong> Doy (damos) consentimiento con la suscripción y registro a este 
      aplicativo, a tales efectos asumo la responsabilidad que se derive de la participación de mi hija(o). 
       </p>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="ClosePopover()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
