<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title style="color: black;">Seleccionar avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/avatar-nuts1.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Magin 1</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/avatar-nuts2.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Magin 2</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/avatar-nuts3.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Magin 3</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/avatar-nuts4.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Magin 4</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/avatar-nuts5.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Magin 5</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/avatar-nuts6.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Magin 6</h2>
          </ion-label>
        </ion-item>
      </ion-list>
  
  
     </ion-grid> 
</ion-content> 
