<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="title">Seleccionar avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/mujer1.png">
          </ion-avatar>
          <ion-label>
            <h2>Mujer 1</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/mujer2.png">
          </ion-avatar>
          <ion-label>
            <h2>Mujer 2</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/mujer3.png">
          </ion-avatar>
          <ion-label>
            <h2>Mujer 3</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/mujer4.png">
          </ion-avatar>
          <ion-label>
            <h2>Mujer 4</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/hombre1.png">
          </ion-avatar>
          <ion-label>
            <h2>Hombre 4</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/hombre2.png">
          </ion-avatar>
          <ion-label>
            <h2>Hombre 2</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/hombre3.png">
          </ion-avatar>
          <ion-label>
            <h2>Hombre 3</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/hombre4.png">
          </ion-avatar>
          <ion-label>
            <h2>Hombre 4</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/bombimage.png">
          </ion-avatar>
          <ion-label>
            <h2>Ideas</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/manza.png">
          </ion-avatar>
          <ion-label>
            <h2>Ideas</h2>
          </ion-label>
        </ion-item>
      </ion-list>
  
  
     </ion-grid> 
</ion-content> 
