<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title style="color: black;">Seleccionar avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src= "../../../assets/avatar/{{urlImg1}}.jpg">
          </ion-avatar>
          <ion-label (click)="cambiarAvatar(urlImg1)">
            <h2>Magin 1</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/{{urlImg2}}.jpg">
          </ion-avatar>
          <ion-label (click)="cambiarAvatar(urlImg2)">
            <h2>Magin 2</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/{{urlImg3}}.jpg">
          </ion-avatar>
          <ion-label (click)="cambiarAvatar(urlImg3)">
            <h2>Magin 3</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/{{urlImg4}}.jpg">
          </ion-avatar>
          <ion-label (click)="cambiarAvatar(urlImg4)">
            <h2>Magin 4</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/{{urlImg5}}.jpg">
          </ion-avatar>
          <ion-label (click)="cambiarAvatar(urlImg5)">
            <h2>Magin 5</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img class="profile-photo" src="../../../assets/avatar/{{urlImg6}}.jpg">
          </ion-avatar>
          <ion-label (click)="cambiarAvatar(urlImg6)">
            <h2>Magin 6</h2>
          </ion-label>
        </ion-item>
      </ion-list>
  
  
     </ion-grid> 
</ion-content> 
