<ion-content class="modal-wrapper" fullscreen>

  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      close
    </ion-button>
  </ion-item>

  <div class="itemback" style="padding-top: 0px;margin-bottom: 4px;margin-left: 10px;margin-right: 50px;">
    <p class="p1" id="p1">El estado de bienestar en el cual el individuo es consciente de sus propias capacidades, puede
      afrontar las tensiones normales los aspectos cotidianos de la vida o de los espacios donde se desenvuelve en una
      actividad, puede tener una respuesta de forma productiva y fructífera y es capaz de hacer una contribución a su
      comunidad o al contexto donde se desenvuelva. ...</p>
    <p class="ocultar p2" id="p2">
      El estado de bienestar en el cual el individuo es consciente de sus propias capacidades, puede afrontar las
      tensiones normales los aspectos cotidianos de la vida o de los espacios donde se desenvuelve en una actividad,
      puede tener una respuesta de forma productiva y fructífera y es capaz de hacer una contribución a su comunidad o
      al contexto donde se desenvuelva. <br>


      Cognitivo: la creación de conocimiento <br>

      - Actividades de la mente que tiene un efecto identificable en función de cómo el cerebro responde a la necesidad
      humana. <br>
      - Consecuencia de la voluntad de las personas por entender la realidad y desempeñarse en sociedad.<br>
      - Capacidad natural que tienen los seres humanos para adaptarse e integrarse a su ambiente.<br>
      - Reorganización progresiva de los procesos mentales.<br><br>

      Emocional: el impulso que induce la acción.<br>

      -Procesos neuroquímicos y cognitivos relacionados con la arquitectura de la mente (toma de decisiones, memoria,
      atención, percepción, imaginación).<br>
      -Interacción de los contextos sociales.<br>
      -Procesos cognitivos que decodifican la información que recibe el organismo.<br>
      -Procesos de adaptación y existen en todos los seres humanos.<br><br>

      Conductual: Integración de Aprendizajes.<br>

      -Expresión de las necesidades, motivaciones, valores, ideales e intereses de un individuo en el desarrollo de una
      actividad.<br>
      -Presencia de aspectos como la conciencia, el lenguaje, la inteligencia y procesos cognitivos, lo que lleva a
      -pensar en la intención de interrelacionar los procesos psicológicos.<br>
      -Expresión individualizada de lo instintivo, lo inconsciente y lo persono-lógico.<br><br>

      Fortaleza mental Desarrollo Competitivo.<br>
      -Capacidad de gestionar nuestros pensamientos, emociones y acciones.<br>
      -Entregar lo mejor de nosotros.<br>
      -Contar con Confianza en cualquier situación.<br>
      -Marcar la diferencia.<br>
    </p>
    <button class="button-css" *ngIf="oculto === false" (click)="verMas()">Ver más</button>
    <button class="button-css" *ngIf="oculto === true" (click)="vermenos()">Ver Menos</button>
  </div>

</ion-content>