<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content>

    <div style="text-align: center;margin-bottom: 10px;">
      <ion-label style="font-size: 20px;color: #002a68;text-transform: uppercase;font-weight: bold;">Video</ion-label>
    </div>

    <ion-card-subtitle style="text-align: justify;font-size: 14px;margin: 15px;">En este video encontrarás la motivación que necesitas para continuar. ¡Presta atención...! </ion-card-subtitle>

    <div class="video-responsive" *ngIf="video">
      <iframe #playerVim [src]="video + '?loop=1&muted=1&playsinline=1' | vimeoUrl" frameborder="0" allow="autoplay;" class="styleVideo" width="100%" height="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div style="text-align: center;margin-top: 20px;">
      <ion-button class="footer-dis-bot2" (click)="goContent()">Continuar
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-card-content>

</ion-content>
