<ion-header #header>
  <ion-toolbar #toolbar class="ion-toolbar-ccs">
    <div align="center">
      <ion-toolbar>
        <img src="/assets/FINAL-LOGO-MAGIN-PNG.png" width="170" height="100">
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [appHideHeader]="header" [scrollEvents]="true" class="ion-content-principal">

  <label *ngIf="actividad"
    style="text-align: center;  margin-left: 35%; font-size: 18px; font-family: url(../../../../assets/fonts/proxima/proxima-nova.otf);">Actividad:
    {{actividad}}</label>
  <br>
  <div class="back">
    <!--<textarea class="textArea" [(ngModel)]="textareainputPiensa" placeholder="Que estas Pensando?" rows="4" cols="150" maxlength="150"></textarea>
    <br>
    <div *ngIf="photos">
      <ion-slides [options]="sliderImgOption2">
        <ion-slide *ngFor="let imag of photos">
          <img class="image-cont" src="{{imag.imagen}}">
        </ion-slide>
      </ion-slides>
    </div>
    <ion-button class="buttonUploadImg" fill=clear (click)="selccionImg()">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-button class="buttonUploadImg2" fill=clear (click)="Publicar()">
      <ion-icon name="send"></ion-icon>
    </ion-button>-->
    <ion-toolbar style="display: inline;">
      <ion-title style="text-align: center;">
        ¿Que deseas hacer hoy?
      </ion-title>
    </ion-toolbar>
    <ion-grid style="display: inline; margin-top: 0px; margin-bottom: 0px;">
      <ion-row>
        <ion-col>
          <ion-fab-button class="fab-buttons" (click)="crearEntrada()">
            <ion-icon name="bulb" size="large"></ion-icon>
          </ion-fab-button>
          <br>
          <ion-label class="label-fab">Informar</ion-label>
        </ion-col>
        <ion-col>
          <ion-fab-button class="fab-buttons" (click)="crearEntrada()">
            <ion-icon name="megaphone" size="large"></ion-icon>
          </ion-fab-button>
          <br>
          <ion-label class="label-fab">Compartir</ion-label>
        </ion-col>
        <ion-col>
          <ion-fab-button class="fab-buttons" (click)="crearEntrada()">
            <ion-icon name="flash" size="large"></ion-icon>
          </ion-fab-button>
          <br>
          <ion-label class="label-fab" style="padding-left: 15px;">Retar</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>

  <br>
  <ion-list *ngFor="let pst of miactividad" class="itemCssFActividad  list-mdActividad">
    <div class="boder">
      <ion-item class="ion-item-css-">
        <ion-avatar slot="start">
          <img src="http://venki.ml/photos/{{pst.user.photo}}" class="imagestyle" (click)="verUser(pst.user)">
        </ion-avatar>
        <ion-label class="titlename" (click)="verUser(pst.user)">{{pst.user.name}} {{pst.user.lastname}}</ion-label>
      </ion-item>
      <br>
      <div *ngIf="pst.medias.length === 0" class="labelContent">
        <label>{{pst.post}}</label>
        <div class="time" class="ion-text-right"><br>
          {{pst.created_at | date:'short'}}
        </div>
      </div>
      <br>
      <div *ngIf="pst.medias.length !== 0" class="labelContent">
        <label>{{pst.post}}</label>
        <ion-slides [options]="sliderImgOption">
          <ion-slide *ngFor="let imag of pst.medias">
            <img class="image-cont" src="http://venki.ml/medias/{{imag.media}}" (click)="imageView(imag.media)">
          </ion-slide>
        </ion-slides>

        <div class="time" class="ion-text-right"><br>
          {{pst.created_at | date:'short'}}
        </div>
      </div>
      <hr class="solid">
      <ion-grid>
        <ion-row >
          <ion-col size="6" style="text-align: center; font-size: 25px;">
            <button icon-only (click)="verUser(pst.user)" style="font-size: 25px;">
              <ion-icon name="heart-outline" style="color:  #002a68"></ion-icon>
            </button>
          </ion-col>
          <ion-col size="6" style="text-align: center;">
            <button (click)="openChat()" style="font-size: 25px;">
              <ion-icon name="chatbubbles" style="color:  #002a68"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
  <ion-infinite-scroll threshold="25px" position="center" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando post...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <br>
  <br>
</ion-content>