<ion-header #header>
  <ion-toolbar #toolbar class="ion-toolbar-ccs">
    <div>
      <ion-toolbar>
        <ion-row class="logo">
          <ion-col size="4">
            <div class="icon-header">
              <img src="/assets/finallogo.png" width="120" height="70">
            </div>
          </ion-col>
          <ion-col size="8" style="align-self: flex-end">
            <div class="info-header">
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;margin-right: 5px;">{{message_header }}</ion-label>
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;text-transform: capitalize;">{{usertk.name}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [appHideHeader]="header" [scrollEvents]="true" id="ion-content-opcional">

  <div align="center" class="card" style="background-image: url('../../../assets/home/activity.jpg'); padding: 12px 50px;background-attachment: fixed;background-position: top;">
    <div class="div-activity">
      <h3 style="padding-top: 10px;font-size: 20px;margin-bottom: 0px;">Tu actividad de hoy</h3>
      <ion-label *ngIf="actividadDiaria" style="font-size: 16px; color: #000; text-align: center;"> {{actividadDiaria}}</ion-label>
    </div>
  </div>
  
  <ion-grid style="text-align-last: left;padding: 10px;">
    <ion-label style="font-size: 16px;font-weight: bold;">¿Qué quieres hacer hoy?</ion-label>
    <ion-row *ngIf="usertk">
        <ion-col size="4" *ngIf="actividadDiaria !== null" style="text-align: -webkit-center;">
            <div class="actions card-primary" (click)="opinarSobreActividad(actividadDiaria)">
              Opinar sobre la actividad
            </div>
        </ion-col>

        <ion-col size="4" style="text-align: -webkit-center;">
          <div class="actions card-primary" (click)="crearEntrada()">
            Ir a la comunidad
          </div>
        </ion-col>

        <ion-col size="4" style="text-align: -webkit-center;">
          <div class="actions card-primary" *ngIf="usertk.surveyed === 0" (click)="diagnosticoRedirect(usertk.profile.id,  usertk.id)">
            Hacer diagnóstico
          </div>
          <div class="actions card-primary" *ngIf="usertk.surveyed === 1" (click)="recomedacionesRedirect(usertk.id)">
            Comprar un paquete
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>

  <hr style="background-color: #d8d8d8;margin: 0px;">

  <ion-badge class="badge-lesson" *ngIf="!leccionActiva" color="warning" >No tienes lecciones activas</ion-badge>

  <ion-badge class="badge-lesson" *ngIf="leccionActiva" color="tertiary" (click)="retomarleccion()" >Retomar: {{leccionActiva.name}}</ion-badge>

  <hr style="background-color: #d8d8d8;margin: 0px;">

  <ion-grid style="text-align-last: left;padding: 10px;">
    <ion-label style="font-size: 16px;font-weight: bold;">¿Cómo te encuentras hoy?</ion-label>
    <ion-row>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 1 }" (click)="emotion = 1">
        <img class="wid-70" src="/assets/emotions/happy.png"/>
        <ion-badge color="warning" class="badge-emotions" >Alegre</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 2 }" (click)="emotion = 2">
        <img class="wid-70" src="/assets/emotions/inspired.png"/>
        <ion-badge color="warning" class="badge-emotions" >Inspirado</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 3 }" (click)="emotion = 3">
        <img class="wid-70" src="/assets/emotions/motivated.png"/>
        <ion-badge color="warning" class="badge-emotions" >Motivado</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 4 }" (click)="emotion = 4">
        <img class="wid-70" src="/assets/emotions/proud.png"/>
        <ion-badge color="warning" class="badge-emotions" >Orgulloso</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 5 }" (click)="emotion = 5">
        <img class="wid-70" src="/assets/emotions/tired.png"/>
        <ion-badge color="warning" class="badge-emotions" >Cansado</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 6 }" (click)="emotion = 6">
        <img class="wid-70" src="/assets/emotions/bored.png"/>
        <ion-badge color="warning" class="badge-emotions" >Aburrido</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 7 }" (click)="emotion = 7">
        <img class="wid-70" src="/assets/emotions/sad.png"/>
        <ion-badge color="warning" class="badge-emotions" >Triste</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 8 }" (click)="emotion = 8">
        <img class="wid-70" src="/assets/emotions/angry.png"/>
        <ion-badge color="warning" class="badge-emotions" >Enojado</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/help">
      <ion-icon name="help-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-card>
    <img src="../../../assets/icon/image1.jpg" (click)="imageView('../../../assets/icon/image1.jpg')" />
    <ion-card-content>
      <ion-label *ngIf="usertk">
        <h3 style="text-align: center; color: #000; font-weight: bold;">¡Empieza bien tu día!</h3>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>