<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/entrena"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo">
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="semi-circulo-2" style="background-color: {{color}};"></div>
  <ion-item>
    <ion-label><ion-icon name="search-outline"></ion-icon></ion-label>
    <ion-input placeholder="Buscar" (keyup)="filtrar($event)"></ion-input>
  </ion-item>
  <br>
  <div class="divBack">
    <ion-grid>
      <ion-row>
        <ion-title class="title-gen">
          <h1 class="title-cat" style="color:{{color}}">
            <strong>{{coursetk.name.split(':')[0]}}</strong>
          </h1>
        </ion-title>
      
      </ion-row>
      <ion-row>
        <ion-title class="title-gen">
          <div class="title-emb">
            <p>
              {{coursetk.name.split(':')[1]}}
            </p>
          </div>
        </ion-title>
      </ion-row>
      <br>

      <ion-row>
        <iframe #playerVim [src]="video " frameborder="0" allow="autoplay;" width="100%" height="100%"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </ion-row>
      <ion-row>
        <div class="download">
          <IonButton (click)="descargarPDF()">
            <ion-icon name="download-outline"></ion-icon>
            Contenido
          </IonButton>
        </div>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-list>
            <ion-list-header>
              <strong class="title-list">Listado de cursos</strong>
              <br>
            </ion-list-header>
            <div *ngFor="let curso of cursosUser;">
              <div *ngIf="curso.users.length !== 0">
                <ion-item class="ion-item-css">
                  <ion-avatar slot="start">
                    <img src="http://venki.3utilities.com/{{curso.photo}}" (click)="verCurso(curso)">
                  </ion-avatar>
                  <ion-label class="title-item-list" (click)="verCurso(curso)">{{curso.name}}</ion-label>
                  <ion-icon name="add-circle-outline" (click)="agregarCurso(curso)"></ion-icon>
                </ion-item>
              </div>
              <div *ngIf="curso.users.length === 0">
                <ion-item class="ion-item-css2">
                  <ion-avatar slot="start">
                    <img src="http://venki.3utilities.com/{{curso.photo}}" (click)="verCurso(curso)">
                  </ion-avatar>
                  <ion-label class="Subtitle-css" (click)="verCurso(curso)">{{curso.name}}</ion-label>
                  <ion-icon name="add-circle-outline" (click)="agregarCurso(curso)"></ion-icon>
                </ion-item>
              </div>
            </div>
          </ion-list>
        </ion-col>
        <ion-col size="1"> </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>