*{
  font-family: 'Proxima Nova' !important;
}
.button-css-options{
    -webkit-box-shadow : 0  10px  30px  0 rgba(130, 192, 223, 0.288);
    box-shadow : 0  10px  30px  0 rgba(95, 187, 233, 0.151);
    font-size: 9px;
    letter-spacing: 1px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 5%;
    text-align: center;
    border: rgba(20, 110, 155, 0.267);;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    width: 85%;
    height: 35px;
    color: #f8f9fa;
    --background: #002a68 !important;
}

.textArea{
  width: 100%;
  max-width: 800px;
  height: 160px;
  display: block;
  margin: 0 auto;
  resize: none;
  border-bottom: 1px solid ;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  padding: 10px;
  outline: 0;
  border-radius: 8px;
  margin-top: 10%;
}


.title-css {
  color: rgb(8, 8, 8);
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 11px;
  line-height: 44px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.Subtitle-css {
  font-size: 7px;
  line-height: 12px;
  margin: 0;
  padding: 7px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(8, 8, 8);
}

.ion-item-css {
  background-color: #f6f6f685;
  border: none;
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  margin: 5px;
  width: 90%;
  border: 2px solid #ffffff79;
  transition: all 0.3s ease-in-out;
  height: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 8px;
  --background: rgba(255, 255, 255, 0.562) !important;
}

.expansionCsss {
  background-color: rgba(248, 249, 250, 0.527);
}

.expansionCsss2{
  background: rgb(0 42 104);
}

.larger{
    text-align:center;
    display: inline-block;
    font-size: 20px;
    color: #002a68 !important;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin: 15px 0px 0px 0px;
  padding: 10px;
}