<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo">
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Timeline: {{currentUser}} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <ul class="timeline">
        <div *ngFor="let info of infoTimeline">
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">{{info.event}}</span>
                <br>
                <br>
                <span class="time-wrapper"><span class="time">{{info.created_at | date:'short'}}</span></span>
              </div>
    
            </div>
          </li>
        </div>
        <ion-infinite-scroll threshold="100px"  position="bottom" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles"  loadingText="Cargando post...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ul>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
