<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <div style="color: black;">
      <br><br><br>
      <h1 align="center">My timeline</h1>

      <div>
        <ul class="timeline">
          <div *ngFor="let contenido of miactividad">
            <li class="timeline__item">
              <div class="timeline__step">
                <div class="timeline__step__marker timeline__step__marker--red"></div>
              </div>
              <div class="timeline__time">
                {{contenido.created_at | date:'short'}}
              </div>
              <div class="timeline__content">
                <div class="timeline__title">
                  {{contenido.post}}
                </div>
              </div>
            </li>
          </div>

          <li class="timeline__item">
            <div class="timeline__step">
              <div class="timeline__step__marker timeline__step__marker--blue"></div>
            </div>
            <div *ngFor="let info of infoTimeline">
              <div class="timeline__time">
                {{info.created_at | date:'short'}}
              </div>
              <div class="timeline__content">
                <div class="timeline__title">
                  {{info.event}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>