<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo">
      <label class="color-blue">M</label><label class="color-blueC">A</label><label class="color-blue">GIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
    <ion-card-title style="text-align: center;">Mis Estadisticas</ion-card-title>
  <br>
  <br>
  <canvas id="myChart" width="400" height="400"></canvas>
</ion-content>
