<ion-content class="ion-content-principal">

  <ion-slides>

    <ion-slide 
    style="
      background: url(../../../assets/slidesImg/Marca-la-Diferencia.jpeg) no-repeat center center; 
      min-width: 100%;
      min-height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% 100%;
      width: 100%;"
      >
    </ion-slide>

    <ion-slide 
    style="
    background: url(../../../assets/slidesImg/Personalizacion.jpeg) no-repeat center center; 
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    width: 100%;"
    >
    </ion-slide>

    <ion-slide
    style="
    background: url(../../../assets/slidesImg/Interactividad.jpeg) no-repeat center center; 
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    width: 100%;"
    >
    </ion-slide>

    <ion-slide
    style="
    background: url(../../../assets/slidesImg/Perfil.jpeg) no-repeat center center; 
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    width: 100%;"
    >
    </ion-slide>

    <ion-slide
    style="
    background: url(../../../assets/slidesImg/Knowledge.jpeg) no-repeat center center; 
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    width: 100%;"
    >
    </ion-slide>

    <ion-slide 
    style="
    background: url(../../../assets/slidesImg/img1.jpg) no-repeat center center; 
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    width: 100%;"
    >
      <h2 class="titulo">CON QUE PERFIL TE IDENTIFICAS</h2>
      <h3>{{mensaje}}</h3>
      <div *ngFor="let dt of data">
        <ion-item class="itemback" style="padding-top: 0px;margin-bottom: 4px;margin-left: 10px;margin-right: 50px;">
            <img src="http://venki.inkdigital.co/medias/{{dt.photo}}" style="width: 120px; height: 120px; border-radius: 8px; margin-top: 12px;margin-bottom: 12px;"/>
            <br>
            <ion-checkbox slot="end" color="primary" [(ngModel)]="dt.selected" (click)="obtenerVal(dt)"></ion-checkbox>
            <p >&nbsp;&nbsp;{{dt.name}}</p>

        </ion-item>
        </div>
        <ion-button class="buttonCss" (click)="continuar()">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
